$blue-color: #0030DA;
$bg-opacity-blue: #D9E1FF;
$orange-color:#FB8500;
$footer-color: linear-gradient(to right, #023047, #23217A);
$bg-color:#F7F8FD;
$bg-workflow: #ffffff;
$text-color:#444444;
$font-general: Poppins;
//author : Fajar Firmansyah