/* Import poppins's font */
@import url("../fonts/poppins/Poppins-Regular.ttf");

/* Smooth scroll */
html {
    scroll-behavior: smooth;
}

/* Set body */
body {
    font-family: "Poppins", sans-serif;
    color: #2b0b0b;
    background: #f7f8fd;
    /* overflow-x: hidden; */
}

/* Navbar */
.nav-link {
    color: #444444;
    font-size: 18px;
    font-weight: 700;
}
#active {
    color: #fb8500;
}
@media screen and (max-width: 1200px) {
    .nav-link {
        font-size: 16px;
    }
}
@media screen and (max-width: 575px) {
    .navbar-nav {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

/* Landing page */
#landing-page {
    background: url(../other/svg/bush-blue.svg);
    background-repeat: no-repeat;
    padding: 6rem 0;
}
.title-header {
    font-size: 52px;
}
.subtitle-header {
    font-size: 20px;
    font-weight: 500;
}
.text-cut {
    display: block;
}
@media screen and (max-width: 1200px) {
    .title-header {
        font-size: 47px;
    }
}
@media screen and (max-width: 992px) {
    .title-header {
        font-size: 40px;
    }
    .subtitle-header {
        font-size: 18px;
    }
    .text-cut {
        display: inline;
    }
}
@media screen and (max-width: 848px) {
    .title-header {
        font-size: 35px;
    }
    .subtitle-header {
        font-size: 16px;
    }
}
@media screen and (max-width: 768px) {
    .title-header {
        font-size: 33px;
    }
    .subtitle-header {
        font-size: 18px;
    }
}
@media screen and (max-width: 576px) {
    .title-header {
        font-size: 30px;
    }
    .subtitle-header {
        font-size: 17px;
    }
}
@media screen and (max-width: 385px) {
    .title-header {
        font-size: 24px;
    }
}

/* Button */
.btn-lets-talk {
    font-size: 18px;
    font-weight: normal;
    border-radius: 12px;
}
.btn-explore {
    border: none;
    border-radius: 12px;
}
#btn-explore:hover {
    background: navy;
}
.btn-outline-blue {
    background: #f8f9fa;
    font-weight: 600;
    color: #0030da;
    border-color: #0030da;
    border-radius: 10px;
}
.btn-outline-blue:hover {
    color: #fff;
    background-color: #0030da;
    border-color: #0030da;
}

/* Text color */
.text-blue {
    color: #0030da;
}
.text-orange {
    color: #fb8500;
}

/* Right image */
.img-right {
    float: right;
}

/* Background color */
.bg-blue {
    background: #0030da;
}
.bg-orange {
    background: #fb8500;
}

/* Used in services, work flow, project, team, blog, testimoni */
#services {
    padding: 3rem 0;
}
.title-services {
    font-size: 48px;
    font-weight: 900;
    border-bottom: 2px solid #0030da;
    width: max-content;
}
.subtitle-services {
    font-size: 20px;
    font-weight: 300;
}
@media screen and (max-width: 1200px) {
    .title-services {
        font-size: 44px;
    }
}
@media screen and (max-width: 992px) {
    .title-services {
        font-size: 38px;
    }
    .subtitle-services {
        font-size: 18px;
    }
}
@media screen and (max-width: 848px) {
    .title-services {
        font-size: 34px;
    }
    .subtitle-services {
        font-size: 16px;
    }
}
@media screen and (max-width: 768px) {
    .title-services {
        font-size: 36px;
    }
    .subtitle-services {
        font-size: 18px;
    }
}
@media screen and (max-width: 576px) {
    .title-services {
        font-size: 24px;
    }
}

/* Used in services and blog */
.title-icon-services {
    font-size: 24px;
    font-weight: bold;
}
.subtitle-icon-services {
    font-size: 18px;
    font-weight: 300;
}
@media screen and (max-width: 992px) {
    .title-icon-services {
        font-size: 22px;
    }
    .subtitle-icon-services {
        font-size: 16px;
    }
}
@media screen and (max-width: 848px) {
    .title-icon-services {
        font-size: 20px;
    }
    .subtitle-icon-services {
        font-size: 15px;
    }
}
@media screen and (max-width: 768px) {
    .title-icon-services {
        font-size: 22px;
    }
    .subtitle-icon-services {
        font-size: 16px;
    }
}
@media screen and (max-width: 576px) {
    .title-icon-services {
        font-size: 20px;
    }
    .subtitle-icon-services {
        font-size: 15px;
    }
}

/* Services */
.box-services {
    border: 3px solid #0030da;
    border-radius: 15px;
}

/* Used in services and project */
#card-services:hover {
    border: 3px solid #0030da;
    border-radius: 15px;
}

/* Work flow */
#workflow {
    background-color: white;
    margin: 3rem 0;
}

/* Project */
#project {
    padding: 3rem 0;
}
.title-item-project {
    font-size: 24px;
    font-weight: bold;
}
#img-project {
    border-radius: 15px;
}
@media screen and (max-width: 992px) {
    .title-item-project {
        font-size: 22px;
    }
}
@media screen and (max-width: 848px) {
    .title-item-project {
        font-size: 20px;
    }
}
@media screen and (max-width: 768px) {
    .title-item-project {
        font-size: 22px;
    }
}
@media screen and (max-width: 576px) {
    .title-item-project {
        font-size: 20px;
    }
}

/* Team */
#team {
    padding: 3rem 0;
}
.team-name,
.client-name {
    font-size: 21px;
    font-weight: 900;
}
.team-skill {
    font-size: 18px;
    font-weight: 600;
}
#img-team {
    border: 2px solid #000000;
    border-radius: 50%;
}
.card-profile {
    background: #fff;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border: none;
}
.card-profile:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
@media screen and (max-width: 992px) {
    .team-name,
    .client-name {
        font-size: 22px;
    }
    .team-skill {
        font-size: 16px;
    }
}
@media screen and (max-width: 848px) {
    .team-name,
    .client-name {
        font-size: 20px;
    }
    .team-skill {
        font-size: 15px;
    }
}
@media screen and (max-width: 768px) {
    .team-name,
    .client-name {
        font-size: 22px;
    }
    .team-skill {
        font-size: 16px;
    }
}
@media screen and (max-width: 576px) {
    .team-name {
        font-size: 20px;
    }
    .team-skill {
        font-size: 15px;
    }
}

/* Blog */
#blog {
    padding: 3rem 0;
}
.card-blog {
    border-radius: 25px;
}
#img-blog {
    border-radius: 35px !important;
}
.title-blog {
    font-size: 20px;
    font-weight: bold;
}
.desc-blog {
    font-size: 16px;
}
.mt-min-130 {
    margin-top: -36%;
}
@media screen and (max-width: 768px) {
    .mt-min-130 {
        margin-top: -37%;
    }
}

/* Testimoni */
#testimoni {
    padding: 3rem 0;
}
.carousel-inner {
    border-start-start-radius: 50px;
    border-start-end-radius: 15px;
    border-end-end-radius: 50px;
    border-end-start-radius: 15px;
}
.carousel-control-next,
.carousel-control-prev {
    width: 8%;
}
.carousel-indicators {
    bottom: 5%;
}
.card-testi {
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
    box-shadow: 6px 8px 26px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 30px 0;
    background-color: #fff;
}
.testi-content {
    padding: 60px;
    text-align: left;
}
.profile-testi {
    width: 95px;
}
.blankspace {
    width: 30px;
}
.carousel-btn {
    height: 70px;
}
.testi-kutip {
    width: 90px;
    position: absolute;
    margin-left: 26%;
    margin-top: -3%;
}
@media screen and (max-width: 1200px) {
    .card-testi {
        width: 75%;
    }
    .testi-kutip {
        width: 80px;
        margin-left: 25%;
    }
    .carousel-control-next,
    .carousel-control-prev {
        width: 12%;
    }
}
@media screen and (max-width: 992px) {
    .card-testi {
        width: 73%;
    }
    .testi-kutip {
        width: 75px;
        margin-left: 22%;
        margin-top: -3%;
    }
}
@media screen and (max-width: 848px) {
    .card-testi {
        width: 70%;
    }
    .testi-kutip {
        width: 70px;
        margin-left: 20%;
    }
    .carousel-control-next,
    .carousel-control-prev {
        width: 13%;
    }
}
@media screen and (max-width: 768px) {
    .testi-kutip {
        width: 65px;
    }
    .testi-content {
        padding: 1.25rem;
    }
    .blankspace {
        width: 15px;
    }
    .testi-content p {
        font-size: 0.875rem;
    }
    .carousel-btn {
        height: 3rem;
    }
}
@media screen and (max-width: 576px) {
    .testi-kutip {
        width: 50px;
        margin-left: 21%;
    }
    .profile-testi {
        width: 4rem;
    }
    .client-name {
        font-size: 1.2rem;
    }
    .profesi-testi {
        font-size: 1rem;
    }
    .testi-content p {
        font-size: 0.875rem;
    }
    .carousel-btn {
        height: 2rem;
    }
    .carousel-indicators {
        bottom: 12%;
    }
    #control-bottom {
        width: 11px;
        height: 0.625rem;
        border-radius: 50%;
    }
    #control-bottom-active {
        height: 0.625rem;
        width: 4.688rem;
    }
}
@media screen and (max-width: 480px) {
    .testi-kutip {
        width: 40px;
    }
    .client-name {
        font-size: 0.8rem;
    }
    .profesi-testi {
        font-size: 0.7rem;
    }
    .testi-content p {
        font-size: 0.7rem;
    }
    #control-right,
    #control-left {
        width: 9%;
    }
    #control-right {
        right: 4%;
    }
    .carousel-btn {
        height: 1.875rem;
    }
}
@media screen and (max-width: 375px) {
    .testi-kutip {
        width: 35px;
        margin-left: 19%;
    }
    #control-right,
    #control-left {
        width: 10%;
    }
}

.abstrak {
    position: absolute;
    width: 150px;
    margin-left: -80px;
}
.abstrak-right {
    position: absolute;
    width: 150px;
    margin-top: -380px;
}

.panah1 {
    margin-top: -430px;
    margin-left: 255px;
}
.panah2 {
    margin-left: 260px;
    margin-top: 40px;
}

/* About */
#footer {
    background: linear-gradient(to right, #023047, #23217a);
    border-start-start-radius: 40px;
    border-start-end-radius: 40px;
    margin-top: 3rem;
}
.title-footer {
    border-bottom: none;
}
.title-about-us {
    font-size: 24px;
    font-weight: 900;
}
.list-item-sosmed {
    color: #eeeeee;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}
.list-item-sosmed:hover {
    color: #fb8500;
}
hr {
    color: white;
}

.subtitle-footer {
    line-height: 0;
    font-size: 20px;
    padding-top: 0.5rem !important;
}
#description {
    margin: 0;
}
.group-icon-footer {
    padding-top: 5px;
}
.icon-list-footer {
    color: #fb8500;
    font-size: 12px;
}
.icon-footer {
    font-size: 24px;
    color: #fb8500;
}
.icon-footer:hover {
    color: #eeeeee;
}
.back-to-top.active {
    visibility: visible;
    opacity: 1;
}
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #0030da;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}
