/* Import poppins's font */
@import url("../fonts/poppins/Poppins-Regular.ttf");

/* Smooth scroll */
html {
   scroll-behavior: smooth;
}

/* Set body */
body {
   font-family: "Poppins", sans-serif;
   color: #2b0b0b;
   background: #f7f8fd;
}

/* Navbar */
.nav-link {
   color: #444444;
   font-size: 18px;
   font-weight: 700;
}
#active {
   color: #fb8500;
}

/* Landing page */
#landing-page {
   background: url(../other/svg/bush-blue.svg);
   background-repeat: no-repeat;
}
.title-header {
   font-size: 52px;
}
.subtitle-header {
   font-size: 20px;
   font-weight: 500;
}

/* Button */
.btn-lets-talk {
   font-size: 18px;
   font-weight: normal;
   border-radius: 12px;
}
.btn-explore {
   border: none;
   border-radius: 12px;
}
#btn-explore:hover {
   background: navy;
}
.btn-outline-blue {
   background: #f8f9fa;
   font-weight: 600;
   color: #0030da;
   border-color: #0030da;
   border-radius: 10px;
}
.btn-outline-blue:hover {
   color: #fff;
   background-color: #0030da;
   border-color: #0030da;
}

/* Text color */
.text-blue {
   color: #0030da;
}
.text-orange {
   color: #fb8500;
}

/* Right image */
.img-right {
   float: right;
}

/* Background color */
.bg-blue {
   background: #0030da;
}
.bg-orange {
   background: #fb8500;
}

/* Used in services, work flow, project, team, blog, testimoni */
.title-services {
   font-size: 48px;
   font-weight: 900;
   border-bottom: 2px solid #0030da;
   width: max-content;
}
.subtitle-services {
   font-size: 20px;
   font-weight: 300;
}

/* Used in services and blog */
.title-icon-services {
   font-size: 24px;
   font-weight: bold;
}
.subtitle-icon-services {
   font-size: 18px;
   font-weight: 300;
}

/* Services */
.box-services {
   border: 3px solid #0030da;
   border-radius: 15px;
}

/* Used in services and project */
#card-services:hover {
   border: 3px solid #0030da;
   border-radius: 15px;
}

/* Work flow */
#work-flow {
   background: url(../icons/svg/bush-double.svg);
   background-repeat: no-repeat;
   background-position: center;
}

/* Project */
.title-item-project {
   font-size: 24px;
   font-weight: bold;
}
#img-project {
   border-radius: 15px;
}

/* Team */
.team-name {
   font-size: 21px;
   font-weight: 900;
}
.team-skill {
   font-size: 18px;
   font-weight: 600;
}
#img-team {
   border: 2px solid #000000;
   border-radius: 50%;
}
.card-profile {
   background: #fff;
   border-top-right-radius: 50px;
   border-bottom-left-radius: 50px;
   border: none;
}
.card-profile:hover {
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
   border-top-right-radius: 50px;
   border-bottom-left-radius: 50px;
}

/* About */
#tentang {
   background: linear-gradient(to right, #023047, #23217a);
   border-start-start-radius: 40px;
   border-start-end-radius: 40px;
}
.title-footer {
   border-bottom: none;
}
.title-about-us {
   font-size: 24px;
   font-weight: 900;
}
.list-item-sosmed {
   color: #eeeeee;
   font-size: 16px;
   font-weight: 500;
   text-decoration: none;
}
.list-item-sosmed:hover {
   color: #fb8500;
}
hr {
   color: white;
}

/* Blog */
.card-blog {
   border-radius: 25px;
}
#img-blog {
   border-radius: 35px !important;
}
.title-blog {
   font-size: 20px;
   font-weight: bold;
}
.desc-blog {
   font-size: 16px;
}

.carousel-inner {
   border-start-start-radius: 50px;
   border-start-end-radius: 15px;
   border-end-end-radius: 50px;
   border-end-start-radius: 15px;
}
.card-testi {
   border-top-left-radius: 50px;
   border-bottom-right-radius: 50px;
   border-top-right-radius: 20px;
   border-bottom-left-radius: 20px;
   border: none;
   box-shadow: 6px 8px 26px rgba(0, 0, 0, 0.1);
   width: 70%;
   margin: 30px;
   background-color: #fff;
}
.testi-content {
   padding: 60px;
   text-align: left;
}
.profile-testi {
   width: 95px;
}
.blankspace {
   width: 30px;
}
.carousel-btn {
   height: 70px;
}
.testi-kutip {
   width: 90px;
   position: absolute;
   margin-left: 200px;
   margin-top: -25px;
}
.abstrak {
   position: absolute;
   width: 150px;
   margin-left: -80px;
}
.abstrak-right {
   position: absolute;
   width: 150px;
   margin-top: -380px;
}

#workflow {
   width: 100%;
}
.card-wf1 {
   border: 3px solid #0030da;
   background-color: #f8f9fa;
   border-radius: 20px;
}
.card-wf2 {
   border: 3px solid #aaaaaa;
   background-color: #f8f9fa;
   border-radius: 20px;
   margin-left: 235px;
   margin-top: -150px;
   width: 220px;
}
.card-wf3 {
   border: 3px solid #f58a20;
   background-color: #f8f9fa;
   border-radius: 20px;
   width: 220px;
   margin-top: -240px;
}
.mt-min-130 {
   margin-top: -130px;
}
.wf-img {
   width: 150px;
}
.panah1 {
   margin-top: -430px;
   margin-left: 255px;
}
.panah2 {
   margin-left: 260px;
   margin-top: 40px;
}
.subtitle-footer {
   line-height: 0;
   font-size: 17px;
   padding-top: 0.5rem !important;
}
#workflow {
   background-color: white;
}

@media only screen and (max-width: 320px) {
   .img-navbar {
      padding-right: 4.375rem !important;
   }
   #active {
      padding-top: 1.25rem !important;
   }
   .nav-link {
      font-weight: 400;
   }
   .btn-lets-talk {
      width: max-content;
      font-weight: 500;
   }
   .navbar-toggler {
      margin-top: -3.125rem !important;
      margin-left: 15.313rem !important;
   }
   #img-header {
      margin-top: -35rem !important;
      padding-right: 0.625rem !important;
   }
   #title-header {
      padding-top: 17.5rem !important;
      font-size: 1.75rem !important;
   }
   #subtitle-header {
      font-size: 0.938rem !important;
   }
   .title-services {
      font-size: 1.563rem !important;
   }
   .subtitle-services {
      font-size: 0.938rem !important;
   }
   .title-icon-services {
      font-size: 1.25rem !important;
   }
   .subtitle-icon-services {
      font-size: 0.938rem !important;
   }
   .work-flow {
      margin-top: 1rem !important;
   }
   .title-item-project {
      font-size: 1.25rem !important;
   }
   .team-name {
      font-size: 0.813rem !important;
   }
   .team-skill {
      font-size: 0.688rem !important;
   }
   .mt-min-130 {
      margin-top: -7.188rem !important;
   }
   #title-testimoni {
      margin-bottom: 0;
   }
   .card-testi {
      margin: 0.938rem !important;
      border-top-left-radius: 3.125rem !important;
      border-bottom-right-radius: 3.125rem !important;
      border-top-right-radius: 1.25rem !important;
      border-bottom-left-radius: 1.25rem !important;
      border: none;
      box-shadow: 0.375rem 0.5rem 1.625rem rgb(0 0 0 / 10%);
      background-color: #fff;
   }
   .testi-content {
      padding: 1.25rem !important;
   }
   .profile-testi {
      width: 3.438rem !important;
   }
   .blankspace {
      width: 0.625rem !important;
   }
   .profesi-testi {
      font-size: 0.813rem !important;
   }
   .testi-kutip {
      width: 2.5rem !important;
      margin-left: 2.813rem !important;
      margin-top: -0.875rem !important;
   }
   .testi-content p {
      font-size: 0.875rem !important;
   }
   #control-indicators {
      margin-bottom: -0.125rem !important;
   }
   #control-right,
   #control-left {
      width: 10%;
   }
   #control-right {
      right: 0.563rem !important;
   }
   .carousel-btn {
      height: 1.875rem !important;
   }
   #control-bottom-active {
      height: 0.625rem !important;
      width: 4.688rem !important;
   }
   #control-bottom {
      width: 0.625rem !important;
      height: 0.625rem !important;
      border-radius: 50%;
   }
   .title-about-us {
      font-size: 1.188rem !important;
   }
   .subtitle-footer {
      font-size: 1rem !important;
   }
   #description {
      font-size: 0.938rem !important;
   }
   .list-item-sosmed {
      font-size: 0.875rem !important;
   }
}

@media only screen and (max-width: 480px) {
   .img-navbar {
      padding-right: 4.375rem !important;
   }
   #active {
      padding-top: 1.25rem !important;
   }
   .nav-link {
      font-weight: 400;
   }
   .btn-lets-talk {
      width: max-content;
      font-weight: 500;
   }
   .navbar-toggler {
      margin-top: -3.75rem !important;
      margin-left: 15.313rem !important;
   }
   #img-header {
      margin-top: -35rem !important;
      padding-right: 0.625rem !important;
   }
   #title-header {
      padding-top: 17.5rem !important;
      font-size: 1.75rem !important;
   }
   #subtitle-header {
      font-size: 0.938rem !important;
   }
   .title-services {
      font-size: 1.563rem !important;
   }
   .subtitle-services {
      font-size: 0.938rem !important;
   }
   .title-icon-services {
      font-size: 1.25rem !important;
   }
   .subtitle-icon-services {
      font-size: 0.938rem !important;
   }
   .work-flow {
      margin-top: 1rem !important;
   }
   .title-item-project {
      font-size: 1.25rem !important;
   }
   .team-name {
      font-size: 0.813rem !important;
   }
   .team-skill {
      font-size: 0.688rem !important;
   }
   .mt-min-130 {
      margin-top: -7.188rem !important;
   }
   #title-testimoni {
      margin-bottom: 0;
   }
   .card-testi {
      margin: 0.938rem !important;
      border-top-left-radius: 3.125rem !important;
      border-bottom-right-radius: 3.125rem !important;
      border-top-right-radius: 1.25rem !important;
      border-bottom-left-radius: 1.25rem !important;
      border: none;
      box-shadow: 0.375rem 0.5rem 1.625rem rgb(0 0 0 / 10%);
      background-color: #fff;
   }
   .testi-content {
      padding: 1.25rem !important;
   }
   .profile-testi {
      width: 3.438rem !important;
   }
   .blankspace {
      width: 0.625rem !important;
   }
   .profesi-testi {
      font-size: 0.813rem !important;
   }
   .testi-kutip {
      width: 2.5rem !important;
      margin-left: 2.813rem !important;
      margin-top: -0.875rem !important;
   }
   .testi-content p {
      font-size: 0.875rem !important;
   }
   #control-indicators {
      margin-bottom: -0.125rem;
   }
   #control-right,
   #control-left {
      width: 10%;
   }
   #control-right {
      right: 0.563rem !important;
   }
   .carousel-btn {
      height: 1.875rem !important;
   }
   #control-bottom-active {
      height: 0.625rem !important;
      width: 4.688rem !important;
   }
   #control-bottom {
      width: 0.625rem !important;
      height: 0.625rem !important;
      border-radius: 50%;
   }
   .title-about-us {
      font-size: 1.188rem !important;
   }
   .subtitle-footer {
      font-size: 1rem !important;
   }
   #description {
      font-size: 0.938rem !important;
   }
   .list-item-sosmed {
      font-size: 0.875rem !important;
   }
}
